---
---

// Colors
$color-white: #FFFFFF;
$color-gray: #7E7E7E;
$color-black: #000000;
$color-purple: #A146D1;
$color-pink: #fb4bea;
$color-orange: #FF4321;
$color-yellow: #ffcf3e;
$color-green: #13E55B;
$color-cyan: #0BDAF5;
$color-rose: #ff6666;
$color-red: #f00a56;

$gradient-web: linear-gradient(to right, $color-purple, $color-pink);
$gradient-web-faded: linear-gradient(to right, rgba(0, 0, 0, 0), $color-pink);
$gradient-animation: linear-gradient(to right, $color-orange, $color-yellow);
$gradient-animation-faded: linear-gradient(to right, rgba(0, 0, 0, 0), $color-yellow);
$gradient-design: linear-gradient(to right, $color-green, $color-cyan);
$gradient-design-faded: linear-gradient(to right, rgba(0, 0, 0, 0), $color-cyan);
$gradient-red: linear-gradient(to right, $color-rose, $color-red);
$gradient-red-faded: linear-gradient(to right, rgba(0, 0, 0, 0), $color-red);
$gradient-gray: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 50%);

// Fonts
$font-heading: normal 300 2em Lato,sans-serif;
$font-subheading: normal 300 1.2em Lato,sans-serif;
$font-light: normal 300 1em Lato,sans-serif;
$font-regular: normal 400 1em Lato,sans-serif;
$font-italic: italic 300 1em Lato,sans-serif;
$font-bold: normal 700 1em Lato,sans-serif;
$font-date: normal 300 2em 'Libre Barcode 128 Text',Lato,sans-serif;

// Variables
$shadow-large: 0 0 100px 0px rgba(0, 0, 0, 0.17);
$shadow-light: 0 0 50px 0px rgba(0, 0, 0, 0.2);
$shadow-light-inset: inset $shadow-light;
$shadow-pressed: 0 0 20px 0px rgba(0, 0, 0, 0.2);

$shadow-inset: inset 0 0 8px 4px rgba(255, 255, 255, 1);
$shadow-gradient: radial-gradient(rgb(0, 0, 0) 30%, rgba(255, 255, 255, 0) 100%);

$screen-small: 900px;
$screen-wide: 1600px;

@import "main";
@import "navigation";
@import "menu";
@import "index";
@import "story";
@import "project";
