---
---

// Colors
$color-white: #FFFFFF;
$color-gray: #7E7E7E;
$color-black: #000000;
$color-purple: #A146D1;
$color-pink: #fb4bea;
$color-orange: #FF4321;
$color-yellow: #FDD631;
$color-green: #13E55B;
$color-cyan: #0BDAF5;
$color-rose: #ff6666;
$color-red: #f00a56;

$gradient-web: linear-gradient(to right, $color-purple, $color-pink);
$gradient-animation: linear-gradient(to right, $color-orange, $color-yellow);
$gradient-design: linear-gradient(to right, $color-green, $color-cyan);
$gradient-red: linear-gradient(to right, $color-rose, $color-red);

// Fonts
$font-heading: normal 300 2em Lato,sans-serif;
$font-subheading: normal 400 1.2em Lato,sans-serif;
$font-body: normal 400 1em Raleway,sans-serif;
$font-italic: italic 400 1em Raleway,sans-serif;
$font-bold: normal 700 1em Raleway,sans-serif;

// Variables
$shadow-large: 0 0 100px 0px rgba(0, 0, 0, 0.17);
$shadow-light: 0 0 50px 0px rgba(0, 0, 0, 0.2);
$shadow-pressed: 0 0 20px 0px rgba(0, 0, 0, 0.2);

$screen-small: 900px;
$screen-wide: 1600px;

@import "main";
@import "navigation";
@import "menu";
@import "default";
@import "index";
@import "project";
