body.light {
  background-color: $color-white;

  a,
  div,
  p {
    color: $color-black;

    .filter {
      color: $color-white;
    }

    .Web-active, .Animation-active, .Design-active {
      background-color: $color-white;
    }

    .Web-active {
        color: $color-pink;
    }

    .Animation-active {
      box-shadow: inset 0 0 0 2px $color-orange;
      color: $color-orange;
    }

    .Design-active {
      color: $color-green;
    }
  }

  .content {
    background-color: $color-white;
  }

  .projectShadow {
    background: $shadow-gradient-bright;
    box-shadow: $shadow-inset-bright;
  }

  .icons .icon {
    &:hover {
      background-color: $color-red;

      path {
        fill: $color-white;
      }
    }
  }

  .pageRack .view-more-button {
    .view-more-button-dark {
      display: none;
    }

    .view-more-button-light {
      display: inline-block;
    }
  }

  .menu {
    #menuButton {
      background: $color-white;

      .menuButton-dark {
        display: none;
      }

      .menuButton-light {
        display: block;
      }
    }
  }

  #animationLoad {
    #animationLoad-dark {
      display: none;
    }

    #animationLoad-light {
      display: block;
    }
  }
}
