.navigation{
  z-index: 0;
  display: block;
  position: fixed;
  left: 0;
  width: 20%;
  min-width: 200px;
  height: 100vw;
  overflow: auto;

  @media only screen and (max-width: $screen-small) {
    width: 200px;
  }
}

.navPanel {
  height: calc(100% - 120px);
  min-height: 650px;
}

.button {
  margin: 0 auto 20px;
  width: 70%;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    color: $color-red;
  }
}

.logo{
  padding-top: 20px;
  max-width: 200px;
}

.filter {
  display: none;
  transition: 0.1s;
  &:hover {
    color: $color-white;
    transform: scale(1.05);
    transition: 0.1s;
  }
}

.Web-filter {
  background: $gradient-web;
  color: $color-white;
}

.Web-active {
  background: $color-white;
  box-shadow: inset 0 0 0 2px $color-purple;
  color: $color-purple;
  &:hover {
    color: $color-purple;
  }
}

.Animation-filter {
  background: $gradient-animation;
  color: $color-white;
}

.Animation-active {
  background: $color-white;
  box-shadow: inset 0 0 0 2px $color-orange;
  color: $color-orange;
  &:hover {
    color: $color-orange;
  }
}

.Design-filter {
  background: $gradient-design;
  color: $color-white;
}

.Design-active {
  background: $color-white;
  box-shadow: inset 0 0 0 2px $color-green;
  color: $color-green;
  &:hover {
    color: $color-green;
  }
}

.footer {
  min-width: 200px;
  height: 120px;

  p {
    width: 60%;
    margin: 0 auto 20px;
    text-align: center;
  }

  .icons{
    text-align: center;

    .icon {
      display: inline-block;
      height: 20px;
      width: 20px;
      margin: 0 5px;
      border-radius: 5px;
      overflow: hidden;

      &:hover{
        path {
          fill: $color-red;
        }
        cursor: pointer;
      }

      path {
        fill: $color-black;
      }
    }
  }
}
