.primaryVisual {
  text-align: center;
}

.primaryEmbed {
  width: calc(100% - 40px);
  margin: 30px auto 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: $shadow-light;

  &-web {
    width: calc(100% - 40px);
    margin: 30px auto 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: $shadow-light;
    height: 80vh;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

.primaryAsset {
  width: calc(100% - 40px);
  // max-height: 80vh;
  margin: 30px auto 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: $shadow-light;

  img {
    width: 100%;
    height: 100%;
  }
}

.secondaryImage {
  position: relative;
  width: calc(100% - 40px);
  max-width: 500px;
  margin: 30px auto;
  border-radius: 10px;
  overflow: hidden;
  height: auto;

  &-shadow {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    border-radius: 10px;
    box-shadow: $shadow-light-inset;
  }

  &:hover {
    cursor: zoom-in;
  }

  img {
    width: 100%;
  }
}

.secondaryImage-zoomed {
  width: calc(100% - 40px);
  max-width: inherit;

  &:hover {
    cursor: zoom-out;
  }

  img {
    width: 100%;
  }
}

.tertiaryAsset {
  width: calc(100% - 40px);
  margin: 30px auto;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: $shadow-light-inset;
  background-size: cover;
  background-position: center;
}

.tertiaryGradient {
  &-Web {
    height: 100%;
    width: 100%;
    box-shadow: $shadow-light-inset;
    background: $gradient-web;
  }
  &-Animation {
    height: 100%;
    width: 100%;
    box-shadow: $shadow-light-inset;
    background: $gradient-animation;
  }
  &-Design {
    height: 100%;
    width: 100%;
    box-shadow: $shadow-light-inset;
    background: $gradient-design;
  }
}
