<head prefix="http://ogp.me/ns/website#">
  <!-- Basic Metadata -->
  <title>{{ page.title }} | {{site.title}}</title>
  <link type="text/css" rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/stylesheet.css"/>
  <link type="image/ico" rel="icon" href="{{ site.url }}{{ site.baseurl }}/favicon.ico"/>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Libre+Barcode+128+Text" rel="stylesheet">

  <!-- SEO -->
  <meta name="description" content="{{ page.description }}" />
  <meta name="theme-color" content="#000000">
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}" />
  <meta property="og:image" content="{ site.url }}{{ site.baseurl }}{{ page.social-image }}" />
  <meta property="og:description" content="{{ page.description }}" />

  <!-- Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42471494-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-42471494-4');
  </script>

  <!-- Scripts & Plugins -->
  <script src="{{ site.url }}{{ site.baseurl }}/scripts/jquery.min.js" type="text/javascript"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/scripts/lottie.js" type="text/javascript"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/scripts/d3.min.js" type="text/javascript"></script>
</head>
