<head prefix="http://ogp.me/ns/website#">
  <!-- Basic Metadata -->
  <title>{{ page.title }} | {{site.title}}</title>
  <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}{{ site.url }}/stylesheet.css"/>
  <link type="image/ico" rel="icon" href="{{ site.baseurl }}{{ site.url }}/favicon.ico"/>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,400i,700" rel="stylesheet">

  <!-- SEO -->
  <meta name="description" content="{{ page.description }}" />
  <meta name="theme-color" content="#000000">
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.baseurl }}{{ site.url }}" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="{{ page.description }}" />

  <!-- Scripts & Plugins -->
</head>
