<div class="menu">
  <div id="menuButton">
      <img class="menuButton-dark" src="{{ site.url }}{{ site.baseurl }}/graphics/animations/MenuButtonOpen-Dark.gif"></img>
      <img class="menuButton-light" src="{{ site.url }}{{ site.baseurl }}/graphics/animations/MenuButtonOpen.gif"></img>
  </div>
  <div>
    <h1 class="menuTitle">The Sitting Hun</h1>
  </div>

  <script>
    $(window).on('load', function() {
      var open = false;
      $('#menuButton').click(function() {
        if (open == false) {
          $('.content').animate({
            left: '200px'
          }, 200);

          $('#menuButton img').remove();

          if (checkDarkMode()) {
            $('#menuButton').append('<img src="{{ site.url }}{{ site.baseurl }}/graphics/animations/MenuButtonClose-Dark.gif"></img>')
          } else {
            $('#menuButton').append('<img src="{{ site.url }}{{ site.baseurl }}/graphics/animations/MenuButtonClose.gif"></img>')
          }

          open = true;
        } else {
          $('.content').animate({
            left: '0px'
          }, 200);

          $('#menuButton img').remove();

          if (checkDarkMode()) {
            $('#menuButton').append('<img src="{{ site.url }}{{ site.baseurl }}/graphics/animations/MenuButtonOpen-Dark.gif"></img>')
          } else {
            $('#menuButton').append('<img src="{{ site.url }}{{ site.baseurl }}/graphics/animations/MenuButtonOpen.gif"></img>')
          }

          open = false;
        }
      });

    });
  </script>

  <!-- The Lottie/Boydmovin Version of the Menu Animation: -->
  <!-- <script>
    $(window).on('load', function() {
      var element = document.getElementById('menuButton');
      var openAnimation = '{{ site.url }}{{ site.baseurl }}/graphics/animations/menuButton-open.json';
      var closeAnimation = '{{ site.url }}{{ site.baseurl }}/graphics/animations/menuButton-close.json';
      var open = false;

      var anim = lottie.loadAnimation({
        container: element,
        renderer: 'svg',
        loop: false,
        autoplay: false,
        path: closeAnimation
      });

      anim.play();
      anim.addEventListener('enterFrame', function(currentFrame) {
        if (currentFrame.currentTime > (anim.totalFrames - 2)) {
          anim.pause();
        }
      });

      $('#menuButton').click(function() {
        if (open == false) {
          $('#menuButton').find('svg').remove();
          // $('.content').css('width', '80%').css('max-width', 'calc(100% - 200px)');
          // $('.content').addClass('content-mobile');
          $('.content').animate({
            left: '200px'
          }, 200);
          // if ('{{ page.title }}' == 'Home') {
          //   if ($('.filter').hasClass('Web-active') == false || $('.filter').hasClass('Animation-active') == false || $('.filter').hasClass('Design-active') == false) {
          //     loadGrid();
          //   }
          // };


          var anim = lottie.loadAnimation({
            container: element,
            renderer: 'svg',
            loop: false,
            autoplay: false,
            path: openAnimation
          });

          anim.play();
          anim.addEventListener('enterFrame', function(currentFrame) {
            if (currentFrame.currentTime > (anim.totalFrames - 1)) {
              anim.pause();
            }
          });

          open = true;
        } else {
          $('#menuButton').find('svg').remove();
          // $('.content').css('width', '100%').css('max-width', '100%');
          // $('.content').removeClass('content-mobile');
          $('.content').animate({
            left: '0px'
          }, 200);
          // if ('{{ page.title }}' == 'Home') {
          //   loadGrid();
          // };

          var anim = lottie.loadAnimation({
            container: element,
            renderer: 'svg',
            loop: false,
            autoplay: false,
            path: closeAnimation
          });

          anim.play();
          anim.addEventListener('enterFrame', function(currentFrame) {
            if (currentFrame.currentTime > (anim.totalFrames - 1)) {
              anim.pause();
            }
          });

          open = false;
        };
      });

      // $('#menuButton').trigger('click');
    });
  </script> -->
</div>
