<html>

{% include info.html %}

<body>
  <div class="wrapper">
    {% include navigation.html %}
    <div class="content">
      {% include menu.html %}
      <div class="container">
        <div class="textCard">
          <div id="animationSent">
          </div>
          <div class="textDate">
            <p>
              {{ page.date | date: "%m.%d.%Y" }}
            </p>
          </div>
        </div>
        <div class="textCover">
          <div class="textGradient">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      var randomImage = function() {
        var randomNumber = Math.round((Math.random() * 4));
        if (randomNumber == 0) {
          return 'url({{ site.url }}{{ site.baseurl }}/covers/coverimg1.png)';
        } else {
          return 'url({{ site.url }}{{ site.baseurl }}/covers/coverimg' + randomNumber + '.png)';
        };
      };

      $('.textCover').css('background-image', randomImage());

      var element = document.getElementById('animationSent');
      var animSent = '{{ site.url }}{{ site.baseurl }}/graphics/animations/sent.json';

      var anim = lottie.loadAnimation({
        container: element,
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: animSent
      });

      anim.play();

      $('#animationSent').height(function() {
        if ($('.menu').css('display') == 'block') {
          console.log('friendos')
          return $(window).height() - ($('.textDate').height() + $('.textCover').height() + $('.menu').height() + 115);
        } else {
          return $(window).height() - ($('.textDate').height() + $('.textCover').height() + 115);
        }
      });
    });
  </script>
</body>

</html>
