<html>

{% include info.html %}

<body>
  <div class="wrapper">
    {% include navigation.html %}
    <div class="content">
      {% include menu.html %}
      <div class="container">
        <div class="textCard">
          <div class="formContainer">
            <div class="textContent">
              {{ content }}
            </div>
            <form name="Contact" action="/contact-success.html" netlify>
              <p>
                Name:<br /><br />
                <input class="line" type="text" name="name" />
              </p>
              <p>
                Email Address:<br /><br />
                <input class="line" type="text" name="email" />
              </p>
              <p>
                Message:<br /><br />
                <textarea class="area" name="message"></textarea>
              </p>
              <p>
                <input class="button" type="submit" value="Submit"/>
              </p>
            </form>
          </div>
          <div class="textDate">
            <p>
              {{ page.date | date: "%m.%d.%Y" }}
            </p>
          </div>
        </div>
        <div class="textCover">
          <div class="textGradient">
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      var randomImage = function() {
        var randomNumber = Math.round((Math.random() * 4));
        if (randomNumber == 0) {
          return 'url({{ site.url }}{{ site.baseurl }}/covers/coverimg1.png)';
        } else {
          return 'url({{ site.url }}{{ site.baseurl }}/covers/coverimg' + randomNumber + '.png)';
        };
      };

      // $('.textCover').css('background-image', randomImage());

      $('.formContainer').css('min-height', function() {
        if ($('.menu').css('display') == 'block') {
          console.log('friendos')
          return $(window).height() - ($('.textDate').height() + $('.textCover').height() + $('.menu').height() + 120);
        } else {
          return $(window).height() - ($('.textDate').height() + $('.textCover').height() + 120);
        }
      });
    });
  </script>
</body>

</html>
