<html>

{% include info.html %}

<body>
  <div class="wrapper">
    {% include navigation.html %}
    <div class="content">
      {% include menu.html %}
      <div class="container">
        <div id="animationLoad">
        </div>
        <script>
            var element = document.getElementById('animationLoad');
            var animLoad = '{{ site.url }}{{ site.baseurl }}/graphics/animations/loading.json';

            var anim = lottie.loadAnimation({
              container: element,
              renderer: 'svg',
              loop: true,
              autoplay: true,
              path: animLoad
            });

            anim.play();
        </script>
        <div class="grid">
          <div class="grid-sizer"></div>
          {% assign sorted_projects = site.projects | sort:"position" %} {% for project in sorted_projects %}
          <a href="{{ site.url }}{{ site.baseurl }}{{ project.url }}">
            <div class="grid-item">
              <div class="projectShadow">
                <div class="project{% for item in project.categories %} {{ item }}{% endfor %}">
                  <img src="{{ site.url }}{{ site.baseurl }}{{ project.cover-image }}" />
                  <div class="projectImageTint"></div>
                  <div class="projectTitle">
                    <p>{{ project.title }}</p>
                    <p class="projectDate">{{ project.date | date: "%m.%d.%Y" }}</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <script src="{{ site.url }}{{ site.baseurl }}/scripts/isotope.min.js" type="text/javascript"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/scripts/imagesloaded.min.js" type="text/javascript"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/scripts/jquery.plate.js" type="text/javascript"></script>
  <script>
    // var contentHeight;
    //
    // var wrapperHeight = function() {
    //   $('.wrapper').height(function() {
    //     return contentHeight;
    //   });
    // };

    var loadGrid = function() {
      $('.grid').imagesLoaded(function() {
        $('#animationLoad').remove();
        $('.grid').css('display', 'block');
        loadIsotope();
        // contentHeight = $('.content').height();
        // wrapperHeight();
      });
    };

    var loadIsotope = function() {
      $('.grid').isotope({
        itemSelector: '.grid-item',
        masonry: {
          columnWidth: '.grid-sizer',
          gutter: 30
        },
        percentPosition: true,
        transitionDuration: 150,
        filter: function() {
          return $(this).find('.project').hasClass('project');
        }
      });
    };

    $(document).ready(function() {
      window.setTimeout(loadGrid, 1300);
      // loadGrid();

      if ($(window).width() > 900) {
        $('.project').plate({
          inverse: true,
          perspective: 1500,
          maxRotation: 7
        });

        $('.projectShadow').plate({
          inverse: false,
          perspective: 750,
          maxRotation: 8
        });
      };
    });
  </script>
</body>

</html>
