<html>

{% include info.html %}

<body>
  <div id="animationLoad">
    <img src="{{ site.url }}{{ site.baseurl }}/graphics/animations/loading-gradient-dark.gif" />
  </div>
  <script>
    // $(window).on('load', function () {
    //   var element = document.getElementById('animationLoad');
    //   var animLoad = '{{ site.url }}{{ site.baseurl }}/graphics/animations/loading.json';
    //
    //   var anim = lottie.loadAnimation({
    //     container: element,
    //     renderer: 'svg',
    //     loop: true,
    //     autoplay: true,
    //     path: animLoad
    //   });
    //
    //   anim.play();
    // });
  </script>
  <div class="wrapper">
    {% include navigation.html %}
    <div class="content">
      {% include menu.html %}
      <div class="container">
        <div class="grid">
          <div class="grid-sizer"></div>
          {% for project in paginator.posts %}
          <a class="projectLink" href="{{ site.url }}{{ site.baseurl }}{{ project.url }}">
            <div class="grid-item">
              <div class="projectShadow">
                <div class="project{% for item in project.categories %} {{ item }}{% endfor %}">
                  <div class="projectAwards">
                    {% for award in project.awards %}
                    {% if award.path %}
                    <img src="{{ site.url }}{{ site.baseurl }}{{ award.path }}"/>
                    {% endif %}
                    {% endfor %}
                  </div>
                  <img src="{{ site.url }}{{ site.baseurl }}{{ project.cover-image }}" />
                  <div class="projectImageTint"></div>
                  <div class="projectTitle">
                    <p>{{ project.title }}</p>
                    <p class="projectDate">{{ project.date | date: "%m.%d.%Y" }}</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>

        <div class="pageRack"></div>

        {% if paginator.total_pages > 1 %}
        <div class="pageRack" style="display: none; visibility: hidden">
          {% if paginator.previous_page %}
          <a class="pageButtonLast" href="{{ site.url }}{{ site.baseurl }}{{ paginator.previous_page_path }}">Last Page</a>
          {% endif %}

          {% if paginator.previous_page and paginator.next_page %}
          <p> | </p>
          {% endif %}

          {% if paginator.next_page %}
          <a class="pageButtonNext" href="{{ site.url }}{{ site.baseurl }}{{ paginator.next_page_path }}">Next Page</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <script src="{{ site.url }}{{ site.baseurl }}/scripts/isotope.min.js" type="text/javascript"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/scripts/imagesloaded.min.js" type="text/javascript"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/scripts/jquery.plate.js" type="text/javascript"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/scripts/infinite-scroll.min.js" type="text/javascript"></script>
  <script>
    // var contentHeight;
    //
    // var wrapperHeight = function() {
    //   $('.wrapper').height(function() {
    //     return contentHeight;
    //   });
    // };

    var isotope = $('.grid').isotope({
      itemSelector: '.grid-item',
      masonry: {
        columnWidth: '.grid-sizer',
        gutter: 30
      },
      percentPosition: true,
      transitionDuration: 150,
      filter: function() {
        return $(this).find('.project').hasClass('project');
      }
    });

    var loadGrid = function() {
      $('.grid').imagesLoaded(function() {
        $('#animationLoad').remove();
        $('.grid').css('display', 'block');
        isotope.isotope();
        // contentHeight = $('.content').height();
        // wrapperHeight();
      });
    };

    $(document).ready(function() {
      // window.setTimeout(loadGrid, 1300);
      loadGrid();

      var loadPlate = function() {
        if ($(window).width() > 900) {
          $('.project').plate({
            inverse: true,
            perspective: 1500,
            maxRotation: 7
          });

          $('.projectShadow').plate({
            inverse: false,
            perspective: 750,
            maxRotation: 8
          });
        };
      }

      loadPlate();

      var isotopeData = isotope.data('isotope');

      $('.pageRack').append('<img class="view-more-button" src="{{ site.url }}{{ site.baseurl }}/graphics/animations/showMore-dark.gif" />')
      $('.grid').infiniteScroll({
        // options
        path: '.pageButtonNext',
        append: '.projectLink',
        outlayer: isotopeData,
        history: false,
        button: '.view-more-button'
      });

      $('.grid').on('append.infiniteScroll', function() {
        loadPlate();
      })
    });
  </script>


  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>
