<html>

{% include info.html %}

<body>
  {% include navigation.html %}
  <div class="content">
    {% include menu.html %}
    <div class="container">
      <div class="textReel">
        <iframe src="https://www.youtube.com/embed/-InwSPD8F_g?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="textCard">
        <!-- <div class="textShadow"> -->
        <!-- <div class="txextBox"> -->
        <div class="textContent">
          {{ content }}
        </div>
        <div class="textDate">
          <p>
            {{ page.date | date: "%m.%d.%Y" }}
          </p>
        </div>
        <!-- </div> -->
        <!-- </div> -->
      </div>
      <div class="textCover">
        <div class="textGradient">
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  $(document).ready(function() {
    var randomImage = function() {
      var randomNumber = Math.round((Math.random() * 4));
      if (randomNumber == 0) {
        return 'url({{ site.url }}{{ site.baseurl }}/covers/coverimg1.png)';
      } else {
        return 'url({{ site.url }}{{ site.baseurl }}/covers/coverimg' + randomNumber + '.png)';
      };
    };

    var reelWidth = $('.textReel').width();
    var reelHeight = function () {
      $('.textReel').height(function () {
        return $('.textReel').width() * 0.5625;
      });
    };

    reelHeight();
    $(window).resize(reelHeight);

    $('.textCover').css('background-image', randomImage());
  });
</script>

</html>
